.register-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #303b47;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.register-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.register-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container .register-btn {
  width: 50%;
  padding: 10px;
  background-color: #302b24;;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 80px;
}

.register-container .register-btn:hover {
  background-color: #303a3b;
}

.register-container .login-btn {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
}

.register-container .login-btn:hover {
  color: #04305c;
}

.error-msg {
  color: red;
  margin-top: 15px;
}